---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import listaLibri from '../../public/data/libri.json';
import '../styles/global.css'
---

<Layout title="Libri | Piacere, Matthew">
	<main>
		<div id="divPrincipale">
			<Header />
			<div id="divSezione">
				<h2>Tutti i libri</h2>
				<p>Un elenco <i>mai definitivo</i> di tutti i libri letti, che sto leggendo o che voglio leggere.<br /><br />
					Questa pagina prende il posto di <a href="http://lore.livellosegreto.it/">Lore</a>, un istanza di BookWyrm gestita da <a href="http://livellosegreto.it/">Livello Segreto</a>.
					Un tempo avevo un account, che usavo sia per tenere traccia del mio “percorso” da minimalista che nel gestire i libri che leggo.<br /><br />
					Ora ho una pagina di questo sito dedicato a questo.</p>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 s:grid-cols-1 gap-4">
            <div>
        <h3>📚 Sto leggendo</h3>
                <ul>
                    {
                        listaLibri.map((listaLibri) => {
                            if (listaLibri.stato == "Letture correnti"){
                                return(
                                <li>- <a href={listaLibri.remote_id}>{listaLibri.title} di {listaLibri.author_text}</a></li>
                            );
                            }
                        })
                    }
                </ul>
            </div>
            <div>
                <h3>📚 Da Leggere</h3>
                <ul>
                    {
                        listaLibri.map((listaLibri) => {
                            if (listaLibri.stato == "Da Leggere"){
                                return(
                                <li>- <a href={listaLibri.remote_id}>{listaLibri.title} di {listaLibri.author_text}</a></li>
                            );
                            }
                        })
                    }
                </ul>
            </div>
            <div>
                <h3>📚 letti</h3>
                <ul>
                    {
                        listaLibri.map((listaLibri) => {
                            if (listaLibri.stato == "Letti"){
                                return(
                                <li>- <a href={listaLibri.remote_id}>{listaLibri.title} di {listaLibri.author_text}</a></li>
                            );
                            }
                        })
                    }
                </ul>
            </div>
        </div>
			</div>
			<Footer/>
		</div>
	</main>
</Layout>
